<div class="w-full flex flex-col justify-center items-center">
    <div class="w-[80%] flex flex-col justify-center items-center text-center py-16">
        <p class="text-[red] text-[17px]">Featured</p> 
        <h1 class="text-[30px] font-[800]">Our works describe why we are</h1>
        <h1 class="text-[30px] font-[800]">the best in the business</h1>
    </div> 
    <div class="main w-[80%] flex justify-around">
        <div class="w-[45%] flex flex-col items-end">
            <img src="\assets\images\room\room34.jpeg" alt="dfs" class="w-[80%] rounded-lg">
            <div class="text my-8 pl-8 w-[80%]">
                <p class="font-[200]">Bed Room</p>
                <h3 class="text-[23px] font-[700]">Aura Branding Design</h3>
            </div>
            <img src="\assets\images\room\room19.jpeg" alt="dfs" class="w-[80%] rounded-lg">
            <div class="text my-8 pl-8 w-[80%]">
                <p class="font-[200]">Seeling</p>
                <h3 class="text-[23px] font-[700]">Pitch product, close the deal.</h3>
            </div>
        </div>
        <div class="w-[45%] flex flex-col items-start">
            <img src="\assets\images\tvunits\tvunit7.jpeg" alt="dfs" class="w-[80%] rounded-lg">
            <div class="text m-8">
                <p class="font-[200]">Tv units</p>
                <h3 class="text-[23px] font-[700]">Featured Tv Unit Design</h3>
            </div>
            <img src="\assets\images\washbasin\washbasin14.jpeg" alt="dfs" class="w-[80%] rounded-lg">
            <div class="text m-8">
                <p class="font-[200]">Wash Basin</p>
                <h3 class="text-[23px] font-[700]">Well designed Wash base</h3>
            </div>
        </div>
    </div> 
    <!-- <h1 class="m-10 text-[blue] text-[20px] flex justify-center items-center ">See all works <img src="/assets/images/next.png" alt="" class=" arraow w-[20px] ml-4"></h1> -->
</div>